.map-component1 {
  width: 100%;
  height: calc(100% - 3rem);
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 100%;
    height: 70%;
    display: flex;
    vertical-align: middle;

    path {
      fill: #3c89bf;
    }

    .rsm-zoomable-group {
      width: 100%;
      height: 100%;
    }
  }
}
